@font-face {
    font-family: Fira mono;
    src: url(/recursos/fonts/firamonoMedium.ttf);
}
@font-face {
    font-family: Firamonoregular;
    src: url(/recursos/fonts/firamonoRegular.ttf);
    }
:root{
    --borda-cor: #424244;
    --background-padrao-cor: #151515;
    --botao-font: Firamonoregular;
    --botao-selecionado-background: #c0c1c7;
    --botao-selecionado-hover-cor: #DADBE1;
    --botao-selecionado-texto: #151515;
    --botao-hover-cor: rgba(255, 255, 255, 0.1);
    --botao-active-opacidade: 0.7;
    --texto-padrao-cor: #ffffff;
    --boxshadow: 0px 0px 15px 0px #000000;
    
}
#loginLink{
    color: rgb(114, 114, 220);
}
/* Barra de rolagem */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background-color: #bbbbbb; 
    border-radius: 6px; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--texto-padrao-cor);
    font-family: Fira Mono, sans-serif;
}

body{
    background-color: var(--background-padrao-cor);
    display: flex;
    flex-direction: column;
    transition: all ease 0.2s;
    align-items: center;
    min-height: 100vh;
}

body.light-mode {
    --background-padrao-cor: #ffffff;
    --texto-padrao-cor: #151515;
    --botao-selecionado-texto: #ffffff;
    --botao-selecionado-background: #151515;
    --botao-selecionado-hover-cor: #2e2e2e;
    --botao-hover-cor: #f3f3f3;
    --boxshadow: 0px 0px 0px 0px #000000;
    
}



.secaoConteudo{
    opacity: 0;
    z-index: -10;
    transition: all ease 0.4s;
    margin-left: 300px;
    margin-right: 300px;
}
.transicao{
    z-index: 10;
    opacity: 1;
}
.cardSecoes{ /* Seção de cards */

    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: transparent;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    justify-content: center;
}
.cardContainer{ /* Conteiner dos cards */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    scroll-behavior: smooth;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    padding-left: 15px;
    
} 
.cardContainer::-webkit-scrollbar {  /* Esconder a barra de rolagem (scroll) */
    display: none;  
}
.card{ 
    min-width: 200px; 
    margin-right: 17px; 
    background-color: transparent;
    height: 170px;
    width: 280px;
    border-radius: 4px;
    border: var(--borda-cor) 1px solid;
    box-shadow: var(--boxshadow);
    position: inherit;
    flex: 0 0 auto; 
    overflow: hidden;
    top: 50px;

}
.cardImagem{
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
    object-fit: cover;
    object-position: center;
    position: absolute;
}
.cardTexto{ /* Título de cada card */
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 2;
    pointer-events: none;
    transition: transform ease 0.2s;
    color: #ffffff;
}
.cardLink:hover ~ .cardImagem{
    transform: scale(1.05);
}

.cardLink{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 40%);
    cursor: grab;
}

.popupcontainer{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -2;
    top: 0;
    transition: ease-in 0.2s;
}
.cardPopUp{
    display: grid;
    position: fixed;
    z-index: 10000000000;
    width: 1000px;
    height: 700px;
    background-color: var(--background-padrao-cor);
    position: absolute;
    border-radius: 4px;
    border: 1px solid var(--borda-cor);
    overflow: hidden;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 30px;
    gap: 15px;
    padding: 10px 10px 10px 10px;
    max-width: 90%;
    max-height: 70vh;
}

.imgPopup{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fecharPopup{
    grid-row: 1 / 2;
    grid-column: 3;
    background-color: transparent;
    border: none;
    
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    padding-right: 15px;
}
.active{
    opacity: 1;
    z-index: 10000000;
}
.tituloPopup{
    grid-column: 2 / 3;
    grid-row: 1;
    margin-top: 10px;
}
.descricaoPopup{
    grid-column: 2 / 3;
}
header{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid var(--borda-cor);
    background-color: var(--background-padrao-cor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.linkContainer{
    display: flex;
    justify-content: space-evenly;    
}

.headerBotao{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid var(--borda-cor);
    font-family: var(--botao-font), sans-serif;
    font-size: 14px;
    margin-left: 17px;
    transition: all ease 0.2s;
}
.headerBotao:hover{
    background-color: var(--botao-hover-cor);
}
.headerBotao:active{
    opacity: var(--botao-active-opacidade);
}
/* Quando o botao do header estiver selecionado */
.botaoSelecionado{
    color: var(--botao-selecionado-texto);
    background-color: var(--botao-selecionado-background);
}
.botaoSelecionado:hover{
    background-color: var(--botao-selecionado-hover-cor)
}
.botaoSelecionado:active{
    opacity: var(--botao-active-opacidade);
}
.tituloSecao{
    position: absolute;
    left: 0;
    font-size: 1.5em;
    top: 0;
}
.verMais{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}
.verMaisBotao{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid var(--borda-cor);
    font-family: var(--botao-font), sans-serif;
    font-size: 14px;
    background-color: transparent;
    transition: all ease 0.2s;
    cursor: pointer;
}
.verMaisBotao:hover{
    background-color: var(--botao-hover-cor);
}
.verMaisBotao:active{
    background-color: var(--botao-hover-cor);background-color: var(--botao-hover-cor);background-color: var(--botao-hover-cor);
}
button.prev, button.next {
    position: absolute;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    top: 50%;
    transition: all ease 0.2s;
}
button.prev {
    left: -60px;
}

button.next {
    right: -60px;
}

.next:hover , .prev:hover{
    background-color: var(--botao-hover-cor);
}

.secaoCardCompleto{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    height: 100%;
    margin-left: 150px;
    opacity: 0;
    transition: all ease .5s;
    margin-top: 30px;
    overflow: hidden;
}
.containertitulo h1{
    font-size: 30px;
    margin-top: 3px;
}
.containertitulo{
    width: 100%;
    display: flex;
    gap: 20px;
}
.opacidade{
    opacity: 1;
}
.cardCompleto{
    min-width: 200px; 
    background-color: transparent;
    height: 280px;
    width: 240px;
    border-radius: 4px;
    border: var(--borda-cor) 1px solid;
    box-shadow: 0px 0px 15px 0px #000000;
    position: inherit;
    flex: 0 0 auto; 
    overflow: hidden;
}

.botaoVoltar{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid var(--borda-cor);
    font-family: var(--botao-font), sans-serif;
    font-size: 14px;
    background-color: transparent;
    transition: all ease 0.2s;
    cursor: pointer;

    left: 0;
    top: 0px;
    transform: rotate(180deg);
    padding-bottom: 10px;    
}
.botaoVoltar:hover{
    background-color: var(--botao-hover-cor);
}
.botao:active{
    opacity: var(--botao-active-opacidade);
}

.arrowLeft{
    font-size: larger;
}
.cadastroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    border-radius: 4px;
    border: 1px solid var(--borda-cor);
    padding: 0px 50px 10px 50px;
    width: 	450px;
    height: 550px;
    z-index: 1000;
    margin: 150px 0px;
}
.cadastroContainer p{
    font-size: 10px;
}
.cadastroContainer input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--borda-cor);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding: 20px 5px 10px 5px;
    transition: all 0.2s;
    
}
input:focus { 
    outline: none;
    border-bottom: 1px solid #ffffff;
  }
.cadastro{
    position: relative;
    
}
.cadastroContainer button{
    color: var(--botao-selecionado-texto);
    background-color: var(--botao-selecionado-background);
    border: none;
    transition: all ease .2s;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 15px;
    
}
.cadastroContainer button:hover{
    background-color: var(--botao-selecionado-hover-cor);
}
.cadastroContainer button:active{
    opacity: var(--botao-active-opacidade);
}
.cadastroContainer h1{
    margin-bottom: 30px;
}
.cadastroContainer label{
    margin-top: 15px;
    font-family: firamonoregular;
    font-size: small
}
.cadastroContainer p{
    margin-top: 15px;
    
}
.cadastroContainer a:hover{
    text-decoration: underline;

}
.botaoAltModoescuro{
    cursor: pointer;
    background-color: #cebfbf00;
    border: none;
    color: #000;
    
    font-size: 16px;
    border-radius: 100%;
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.botaoAltModoescuro:hover{
    background-color: #84848437;
}
 .botaoImg{
    width: 80%;
}

footer {
    background-color: var(--background-padrao-cor);
    padding: 10px 0;
    border-top: 1px solid var(--borda-cor); 
    z-index: 100;
    width: 100%;
    transition: all 0.2s;
    height: fit-content;
    margin-top: 30px;
}
footer p, footer a{
    font-family: Firamonoregular;
}

.footer-container {
    display: flex;
    flex-wrap: row;
    font-size: small;
    justify-content: space-between;
}

.footer-section {
    
    padding: 0 20px;
}
.footer-section-social{
    transition: all 0.2s;
    display: flex;

}
.footer-section-social a{
    margin: 0 15px;
}
.footer-section-social img{
    width: 25px;
    transition: all 0.2s;
}
.footer-section-social img:hover{
    transform: scale(1.1);
}
.footer-section-info{
    padding: 0 20px;
}
.footer-section-info a{
    
    margin: 0 15px;
}
.footer-section-info a:hover{
    text-decoration: underline;
}
.footerposition{
    position: absolute;
    bottom: 0;
}
.homepage{
    width: 100%;
    height: calc(90vh - 75px);
    background-color: #6464641b;
    
}
.containerHomepage{
    margin: 0 100px;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}
.containertituloHp{
    grid-row: 2/3; 
    font-size: 100px;
}

.container{
    display: grid;
    gap: 30px;
    margin: 20px 0 20px 0;
    grid-template-columns: repeat(2, 1fr);
    transition: opacity 1s;
}
.container h1{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.member{
    border: 1px solid var(--borda-cor);
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
 
}
.member p{
    font-size: small;
    margin-top: 20px;
}
.member img{
    float: left;
    margin: 20px 20px 0 0px;
    border-radius: 4px;
    width: 200px;
}
main{
    max-width: 100%;
}
@media (max-width: 600px) {
    
    .verMaisBotao{
        margin-right:10px
    }
    button.prev{
        width: 30px;
        height: 30px;
        left: -35px;
        height: 100%;
        border-radius: 0;
    }
    button.next{
        width: 30px;
        height: 30px;
        right: -35px;
        height: 100%;
        border-radius: 0;
    }
    button.next:hover, button.prev:hover{
        background-color: none;
    }
    .cardSecoes{
        width: 90%;
    }
    .cardSecoes p{
        margin-left: 15px;
    }
    header a{
        display: none;
    }
    .botaoAltModoescuro{
        position: absolute;
        left: 0;
        margin-left: 15px;
    }
    .botaoAltModoescuro:hover{
        background-color: transparent;
    }
    .botaoAltModoescuro:active{
        background-color: #84848437;
    }
    .containertituloHp{
        transform: scale(0.3);
    }
    .container{
        transform: scale(0.6);
        display: flex;
        flex-direction: column;
        
    }
    .containerHomepage{
        margin: 0;
    }
    .secaoConteudo{
        margin: 0;
        max-width: 100vw;
        margin-left: 30px;
    }
    .cadastroContainer{
        border: none;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 300px;
        padding: 10px 20px 10px 20px;
    }
    main{
        max-width: 100vw;
    }

    .card{
        height: 130px;
    }
    .cardSecoes{
        height: 210px;
    }
    .imgPopup{
        grid-row: 1/3;
        grid-column: 1/4;
    }
    .tituloPopup{
        grid-row: 3/4;
        grid-column:1/4 ;
    }
    .cardPopUp{
        grid-template-columns: 1fr 30px;
        grid-template-rows: 30px 1fr 1fr;
        overflow: visible;
    }.fecharPopup{
        color: var(--background-padrao-cor);
        position: absolute;
        top: -60px;
        right: 0px;
    }.secaoCardCompleto{
        margin: 0;
        margin-top: 20px;
        margin-left: 30px;
        gap: 30px;
    }
    .cardCompleto{
        width: calc(100% - 30px);
        height: 300px;
    }
    .footer-section-info{
        display: flex;
        flex-direction: column;
        
    }
    }